h1 {
  margin: 0;
  padding: 0;
}

input.button.vote {
  margin: 0.3em;
}

div#keybindings {
    position: absolute;
    top: 100px;
    right: 9em;
    max-width: 9em;
}

dl.keybindings {
  margin-top: 0;
}

dl.keybindings dt {
  clear: left;
  float: left;
  display: block;
}

dl.keybindings dd {
  float: left;
  display: block;
}

.change_message {
  font-family: monospace;
}

.change {
  background: #224;
  border: 5px solid #000;
  margin: 1em;
  padding: 1em;
}

ul.change_metadata {
   list-style-type: none;
   font-size: .8em;
   padding-left: 0;
}

.diffadd {
   color: #9f9;
}

.diffsub {
   color: #f99;
}

a.external_source {
  float: right;
}

iframe.external_source {
    width: 100%;
    height: 300px;
}

.change .identifier {
  margin-top: -.2em;
  font-size: .6em;
  float: right;
  color: #777;
}

.identifier a.external_source {
  color: #777;
  text-decoration: none;
  float: none;
}
